/* Style Elements */

/* Body */
body{
    background-color: rgb(175, 175, 175); 
}
/* Navbar */
.navbar{
    max-height: 60px; 
}
.navigation .navbar-brand{
    color:rgb(255, 255, 255); 
    margin-left: 25px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: rgb(175, 175, 175);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: rgb(255, 255, 255); 
    font-size: 20px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:rgb(250, 140, 13)!important; 
}
.dropdown-item{
    color: rgb(250, 13, 13)!important; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:rgb(250, 140, 13)!important; 
}
a{
    color: rgb(175, 175, 175);
    font-size: 20px; 
}
.nav-link:hover{
    background-color: rgb(250, 140, 13)!important;
   }

.navbar-brand:hover{
color: rgb(250, 13, 13) !important;
}

/* Media Queries */
@media(max-width: 900px){
    .navbar-expand-lg{
    background-color: rgb(175, 175, 175) !important;
    }
    .navbar{
        max-height: none; 
        padding: inherit;
    }
    .navbar div{
        margin: inherit; 
        background-color: rgb(175, 175, 175);  
    }
    .navbar-brand{
        padding: 15px !important; 
    }
    
    button{
        margin-right: 25px; 
    }
    button:focus {
    
        outline: 2px dotted;
        outline: 5px auto -webkit-focusring-color;
        
        }

/* Img */
img{
    width:100% !important;
    height:100% !important;
}
.active, .panel:hover{
    border-color:rgb(250, 140, 13);
    border-style: solid; 
    
}
.vizualization{
    width:100% !important;
    height:10% !important;
}

/* Title */
.title{
    color: rgb(175, 175, 175);  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
/* Paragraph */
p{
 color: rgb(175, 175, 175);
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 16px; 
}
/* Box Class */
.box {
    margin-top: 50px; 
    margin-bottom: 50px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 

  }
/* Table */
  .table{
    font-size: 15px; 
    border-top-color: white !important; 
}
/* Footer */
footer{
color: white; 
min-height: 50px; 
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}

}